body {
    color: #fff;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

blockquote {
    font-size: 12px;
}

blockquote p {
    font-size: 12px;
    color: #ff7800;
}

#footer {
    border-top: 1px #ccc solid;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
