body {
    background: rgba(60, 63, 65, 1);
    font-family: "微软雅黑";
}

#loading-div {
    padding-top: 20px;
}

#load-more-div a {
    display: block;
    color: rgba(153, 153, 153, 1);
}

#load-more-div a:hover {
    text-decoration: none;
    color: #fff;
}

#load-more-div {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(34, 34, 34, 1);

    text-align: center;
}

#article-wrapper article {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border-bottom: 1px solid rgba(43, 43, 43, 1);
}

.list-a {
    font-family: "微软雅黑";
    color: rgba(153, 153, 153, 1);
}

.list-a:hover {
    text-decoration: none;
    color: #fff;
}

.screen {
    background: #000;
    opacity: .8;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
}