#article-content-wrapper
    display none
    cursor default
    -webkit-user-select none

h2.article-title
    text-align center
    font-family "Arial", "sans-serif", "微软雅黑", "黑体", "宋体"
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

.article-meta
    font-size 12px
    border-bottom 1px solid #ddd
    -webkit-user-select text

.article-meta > div > .glyphicon
    position relative
    top 1px

.article-meta > div
    text-align center

.true-article
    -webkit-user-select text
    margin-top 10px

.true-article img
    margin-bottom 5px

#ds-comment
    background #fff
    -webkit-user-select text