.fl
    float left

.fr
    float right

.cl
    clear both

.left-menu-wrap
    margin-top 50px

.left-menu-button
    margin 0
    -webkit-app-region no-drag
    float left
	
.left-menu-button
	margin-top 1px
	margin-left 1px
    
.left-menu-loading
    margin-left auto
    margin-right auto
    height 42px
    width 42px
    margin-top 200px
    background url(../images/left-menu-loading.gif) no-repeat

.arrow-cursor
    cursor default

.no-select
    -webkit-user-select none
    cursor default

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus
    background-color #575a67

.no-underline, .no-underline:visited, .no-underline:hover
    text-decoration none