.fl
    float left

.fr
    float right

.cl
    clear both

.left-menu-wrap
    margin-top 50px

.left-menu-button
    margin 0
    -webkit-app-region no-drag
    float left

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus
    background-color #575a67
