@import "default.styl"

window-border-thick = 5px
window-border-color = #18bc9c

body
    overflow hidden

.navbar
    margin 0
    border none

.whole-title-bar
    -webkit-app-region drag
    -webkit-user-select none

#whole-title
    font-family wygtfs, default-font-family

.whole-frame
    margin-top 50px

.whole-v-border
    height 100%
    width window-border-thick
    background-color window-border-color

.bottom-border
    width 100%
    height window-border-thick
    background-color window-border-color
