@import "default.styl"

window-border-thick = 2px
window-border-color = #222
window-border-color-lighter = #555
default-font-family = "Arial", "sans-serif", "微软雅黑", "黑体", "宋体"

span
    cursor default

body
    overflow hidden
    cursor default

.flickity-enabled
    -webkit-user-select none
	
.left-menu
	font-family default-font-family;

.navbar
    margin 0
    border none

.whole-title-bar
    -webkit-app-region drag
    -webkit-user-select none
    box-shadow 0px 2px 2px #aaa

#whole-title
    font-family wygtfs, default-font-family
    padding-left 60px

.whole-frame
    width 100%
    margin-top 50px

.whole-v-border
    width window-border-thick
    background-color window-border-color

.bottom-border
    width 100%
    height window-border-thick
    background-color window-border-color

.main-frame
    width 100%
    height 100%
    background url(../images/banner.png) top center no-repeat
    overflow-y auto

#item-list > div > .progress
    margin-top 200px
    -webkit-user-select none

.item-list-inner .flickity-viewport
    background #fff
    margin-bottom 40px

.item-list-inner .flickity-viewport img
    margin-right 10px
    height 132px

.item-list-inner >:first-child
    margin-top 20px

.item-list-inner .well
    opacity .95

button.list-per-item-title
    font-family default-font-family
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

p.list-per-item-summary
    font-family default-font-family
    line-height 25px

p.list-per-item-summary:first-letter
    font-size 300%
    line-height 70px
    font-weight bold
    color #000
    float left
    margin-right 5px
    font-family wygtfs, default-font-family

.list-per-item-za
    font-family default-font-family
    font-weight bold

.sweet-alert h2, .sweet-alert p
    cursor default

@import "article.styl"
