* {
    font-family: "微软雅黑";
}

body {
    background-color: #fff;
    overflow-x: hidden;
    -webkit-user-select: none;
}

.fl { float: left; }
.fr { float: right; }
.cl { clear: both; }

.vex { -webkit-user-select: none; }

.to-fancy { -webkit-user-select: none; }

/** 标题栏 */
.title-bar {
    position: fixed;

    background: #15a0f5;
    height: 45px;
    width: 100%;

    -webkit-user-select: none;
}

.title-can-move {
    -webkit-app-region: drag;
}

.title-logo {
    height: 45px;
    width: 100px;
    background: url("../images/logo.png");
}

.title-operators {
    height: 45px;

    padding-right: 15px;
}

/** 右上角按钮 */
.title-operators > .title-operator {
    -webkit-app-region: no-drag;
    margin-top: 13.5px;
    margin-left: 10px;

    height: 18px;
    width: 18px;

    background-position-x: 0px;
    background-position-y: 0px;

    cursor: pointer;
}

.title-operators > .title-operator:hover {
    background-position-y: 18px;
}

.title-operators > .minimize {
    background-image: url("../images/title/minimize.png");
}

.title-operators > .restore {
    background-image: url("../images/title/restore.png");
    display: none;
}

.title-operators > .maximize {
    background-image: url("../images/title/maximize.png");
}

.title-operators > .close-btn {
    background-image: url("../images/title/close.png");
}

/** Banner */
#banner-object {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: -999;
    height: 240px;
    background: url("../images/banner.png");
    background-repeat: no-repeat;
    top: 45px;
}

/** Body */
#top-margin {
    height: 125px;
}

#body {
    min-height: 100px;
    background: url("../images/banner-mask.png") repeat-x;
}

/** 每日一句 */
#daily-sentence {
    padding-top: 15px;
    -webkit-user-select: none;
}

#daily-sentence #en-sentence {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#daily-sentence #zh-sentence {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#daily-sentence #en-sentence span {
    font-size: 18px;
    font-family: "Times New Roman";
    font-style: italic;
    text-shadow: 0 1px 1px #fff;
}

#daily-sentence #zh-sentence span {
    font-size: 14px;
    text-shadow: 0 1px 1px #fff;
}

#nav {
    margin-bottom: 10px;
    -webkit-user-select: none;
}

.nav-fixed {
    position: fixed;
    top: 55px;
    z-index: 888;
}

#top-articles {
    -webkit-user-select: none;
}

.top-articles-fixed {
    position: fixed;
    top: 105px;
    z-index: 888;
}

#list-container-wrapper {
    margin-top: 20px;
}

.top-articles-ul {
    list-style-position: inside;

    font-size: 12px;
    padding: 0;
    margin: 0;

    text-shadow: 0 1px 1px #fff;
}

.top-articles-ul > li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    list-style-type: none;

    background: url("../images/top-article-li-dot.png") no-repeat 0 7px;
    padding-left: 8px;
}

.top-articles-ul > li > a {
    color: #333;
}

.top-articles-ul > li > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #999;
}

.fuli-date {
    -webkit-user-select: none;

    margin-top: 15px;
    margin-bottom: 15px;
}

.fuli-item-object {
    margin-top: 15px;
    margin-bottom: 15px;
}

.fuli-item-object img {
    width: 200px;
    height: 150px;

    -webkit-user-select: none;
}

.fuli-item-object h3 {
    font-size: 14px;
    margin: 0;
    padding: 0;

    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(80, 80, 80, 0.5);
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}

.fuli-item-object p {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

.list-title {
    cursor: pointer;
}

#information-page-inner {
    font-family: "楷体";
    font-size: 14px;
    /*text-shadow: 1px 1px 0 #999;*/
}

#information-page-inner p, #information-page-inner span {
    font-family: "楷体";
    font-size: 14px;
}

#information-page-inner img {
    margin-top: 10px;
    margin-bottom: 10px;
}

#information-page-inner h2 {
    font-size: 14px;
}

.button, .button-wrap {
    font-family: "微软雅黑";
    -webkit-user-select: none;
}

#information-progress {
    -webkit-user-select: none;
}

.information-page-left .panel {
    margin-top: 10px;
    -webkit-user-select: none;
    margin-bottom: 10px;
}

a.button-block:hover {
    color: #999;
    text-decoration: none;
}

#information-page-inner {
    -webkit-user-select: text;
}

#information-page-inner-title {
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#information-page-inner-title p {
    font-size: 12px;
    -webkit-user-select: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

#information-page-inner-body, #information-page-inner-body p, #information-page-inner-body span {
    text-shadow: 0 1px 1px #999;
}

#information-page-next .panel-heading, #information-page-prev .panel-heading {
    text-shadow: 0 1px 1px #fff;
}

#information-page-next a, #information-page-prev a {
    color: #444;
    text-decoration: none;
    font-size: 12px;
    display: block;
}
